@import "../../Styles/global";
@import "../../Styles/variables";

.styled-button {
  width: 206px;
  height: 50px;
  background-color: $yellow;
  color: $purple;

  border: none;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.secondary-button {
  background-color: $blue;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

.tertiary-button {
  background-color: $yellow;
  width: 100%;
  color: $purple;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
}
